* {
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 141, 14);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-family: "Exo 2", sans-serif;
  height: 100vh;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

button {
  background-color: #fff100;
  padding: 15px 30px;
  font-size: 1.5rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.new-deck {
  align-self: start;
}

.draw-cards {
  align-self: stretch;
}

div.card-slot {
  border: 1px solid black;
  border-radius: 5px;
  height: 175px;
  width: calc(175px * 5 / 7);
}

div.card-slot:nth-of-type(1) {
  margin-bottom: 12px;
}

img.card {
  width: 100%;
  height: 100%;
}

div.top {
  display: flex;
  align-self: flex-start;
}

.top p {
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
}

button:disabled {
  cursor: not-allowed;
}
